gym==0.26.2
gymnasium==0.29.1
imageio==2.33.1
matplotlib==3.7.1
networkx==3.1
numpy==1.25.0
seaborn==0.13.1
setuptools==67.8.0
torch_geometric==2.3.1
--extra-index-url https://download.pytorch.org/whl/cu118 
torch==2.0.1+cu118
torchvision==0.15.2+cu118
torchaudio==2.0.2+cu118

